.about-container {
  /* background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(10, 10, 10) 35%,
    rgba(8, 8, 8, 1) 100%
  ); */

  background-color: rgba(0, 0, 0, 0.948);
  background-image: url("../../assets/imgs/background-textures/bg-pattern-b.png");

  background-blend-mode: color;
}

/* CSS MEDIA QUERIES */
@media screen and (max-width: 580px) {
}

.corkboard-carousel {
  width: 100%;
  overflow: hidden;
  background-color: red;
  margin: 0;
  padding: 0;
  transform: scale(0.8);
  background-repeat: no-repeat;
  background-image: url("../../assets//imgs/about/specialty-enclosed-corkboards.png");
}
