.about-container {
  /* background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(10, 10, 10) 35%,
    rgba(8, 8, 8, 1) 100%
  ); */

  background-color: rgba(0, 0, 0, 0.948);
  background-image: url("../../assets/imgs/background-textures/bg-pattern-b.png");

  background-blend-mode: color;
}

/* CSS MEDIA QUERIES */
@media screen and (max-width: 854px) {
  .corkboard-carousel {
    /* width: 200px !important; */
    transform: scale(0.95);
  }
  .corkboard-carousel * {
    width: 100% !important;
  }
}

.corkboard-carousel {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.corkboard-carousel div {
  width: 700px;

  height: auto;
}
.corkboard-carousel div * {
  width: 700px;

  height: auto;
}
