.board{
    display:block;
    z-index: -1;
    /* width: 1600px; */
    width: 95%;
    height: auto;
    /* padding-top: 180px; */
    margin-top: 12px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 48px;
    border: grey 7.2px solid;
}

.user-board-accordion{
    background-color:rgb(117, 117, 117)(107, 84, 84);
}

/* custom board for user */
.my-Board{ 
    display:block;
    z-index: -1;
    /* width: 1600px; */
    width: 800px;
    height: auto;
    /* padding-top: 180px; */
    margin-top: 12px;
    margin-left: auto;
    margin-right:auto;
    border: grey 7.2px solid;
}
/* Filter Button Divs */
.filter-btn-container{
    display:inline-block;
    position:inherit;
    /* z-index: -1; */
    /* margin-top: 5px; */
    margin-left: auto;
    margin-left: -45px;
    margin-bottom: -14px;
    /* width: 100%;  */
    /* padding-top: 10px; */

}

.corkBoard-title
{
    color:white;
    background-color: rgb(10, 71, 71);
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 22px;
    padding: 12px;
    letter-spacing: 2.2px;
    /* width: 75%; */
    
}

.corkboard-card-container{
/* background-color: RED; */
    
    /* z-index: 1; */
    /* display: inline !important; */
    position: absolute;
    width:100%;
    height:auto;
    top:295px;
    left: 38px;
}
  
 

.boardCard{
background-color: purple;
 
    /* width:250%; */
    /* background-color: red; */
    
}

.individualCard{
    width:100%;
} 


/* ************************ */
/* MEDIA QUERIES */
/* ************************ */


 @media only screen and (min-width: 500px) { 
    .corkboard-title {
        color:red;
      /* text-align: center !important;
      font-size: 8px !important; */
    }
  }
