.board{
    display:block;
    z-index: -1;
    /* width: 1600px; */
    width: 80%;
    height: auto;
    /* padding-top: 180px; */
    margin-top: 12px;
    margin-left: 35px;
    margin-right: 35px;
}
.filter-btn-container{
    display:block;
    z-index: -1;
    /* width: 1600px; */
    /* width: 80%; */
 
    padding-top: 10px;

}