.Forum-PostCounter-container {
    display: inline !important;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center;
}

.Forum-PostCounter-jumbotron {
    margin-top: 24px !important;
    color: white;
    width: 75% !important;
    /* background-color: rgb(18, 83, 92) !important;  */
    background: #0D5735;
    background: -moz-linear-gradient(top, #0D5735 0%, #127547 100%);
    background: -webkit-linear-gradient(top, #0D5735 0%, #127547 100%);
    background: linear-gradient(to bottom, #0D5735 0%, #127547 100%);
}

.Forum-PostCounter--body {
    padding: 1px;
}