/* ************************* */
/* Header icon and brand anchor */
.header-title-a:link {
  color: black;
}

.header-title-a:visited {
  color: black;
}

.header-title-a:hover {
  font-style: normal;
  text-decoration: none;
  text-decoration-style: none;
 

}

.header-title-a:active {
  color: red;
}
/* ************************* */
/* Header Options */
.header-container .header-items:link {
  color: black;
}

.header-container .header-items:visited {
  color: black;
}

.header-container .header-items:hover {
  font-style: normal;
  text-decoration: underline;
  text-decoration-style: solid;
  font-size: 19px;
 

}

.header-container .header-items:active {
  color: red;
}

/* ************************* */

/* ************************* */
/* Header Anchor Menu Items */
.header-options-a:link {
  color: white;
}

.header-options-a:visited {
  color: white;
}

.header-options-a:hover {
  
  
}

.header-options-a:active {
  color: red;
}
.header-options-a {
  margin-top: 10px;
}

/* ********************************* */
/* ********************************* */

.muse-anchor:link {
  color:  #22b8b8;
}



.muse-anchor:visited {
  color:  #22b8b8;
}

.muse-anchor:hover {
  font-style: normal;
  text-decoration: none;
  text-decoration-style: none;
  /* font-size: 22px; */
}

.muse-anchor:active {
  color: red;
}

.muse-anchor{
  color:  #22b8b8;
}

/* ********************************* */
/* ********************************* */
.main-header {
  /* background-color: rgb(10, 172, 172); */
  /*  HEX #0aacac */
  background: #102933;
  background: -moz-linear-gradient(left, #102933 0%, #102933 50%, #102933 100%);
  background: -webkit-linear-gradient(left, #102933 0%, #102933 50%, #102933 100%);
  background: linear-gradient(to right, #102933 0%, #102933 50%, #102933 100%);
  margin: 0;
  margin-bottom: 16px;
  padding: 0px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  /* border-bottom: #0aacac  2px solid; */
}

.header-icon {
  height: 88px;
  width: auto;
  padding:6px;
  margin-left: 18px;
  /* margin-bottom: px; */
  margin-top: -5px;
}

.header-title {
  font-weight: 500;
  font-size: 40px!important;
  color: white;
  /* margin-top: 2px; */
  /* margin-bottom: -2px; */
  margin-left: 12px;
}

.header-small-text {
  font-size: 12px;
  color: white;
  margin-left: -253px;
  margin-top: 48px;
}

.header-muse-small{
  font-style: italic;
}

.header-container{
  margin-right: 15px;
}
.header-items{
  color:white !important;
  font-size:18px;
  margin-right: 54px;
}

/* .header-menu-center{
  align-content: center !important;
  margin-left:auto;
  margin-right:auto;
  display:inline-block;  
  text-align: center !important;
} */


/* @media only screen and (max-width: 100px) {
  .header-items{
    
    margin-right: auto;
    margin-left: auto;
  }
} */