.intro-info-imgs{
    width: 58px;
    height: auto;
    margin: 4px;
}

.intro-splash-container{
    background-color: grey;
    margin: 18px;
    
}

.carousel-container{
    margin-bottom: 28px;
    margin-top: 28px;
    
}