.cover {
  height: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

.login-title {
  font-size: 45px !important;
}

.gcaptcha-container iframe div {
}

.gCaptcha {
  max-width: 100%;
  transform: scale(1);
  -webkit-transform: scale(1);
  transform-origin: center center;
  -webkit-transform-origin: center center;
}

@media screen and (max-width: 501px) {
  .gCaptcha {
    margin-left: -10px;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
}
@media screen and (max-width: 400px) {
  .gCaptcha {
    margin-left: -28px;
    transform: scale(0.78);
    -webkit-transform: scale(0.78);
  }
}

@media screen and (max-width: 350px) {
  .gCaptcha {
    margin-left: -35px;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
}

.cover-caption {
  padding: 20px;

  width: 100%;
  position: relative;
  z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
  content: "";
  height: 100%;
  width: 1200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: -1;
  border-radius: 10px;
}

form:after {
  width: 250px;
}
form {
  padding: 24px;
}

.login-btn {
  margin-top: 14px;
}
