@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.continue-reading * {
  text-decoration: none;
  color:white;
  transition: 2.2s ease-in;
}
.continue-reading *:hover {
  text-decoration: underline;
  color:white;
 
}

.newsArticleStyling {
  background-color: rgba(16, 41, 51, 1);
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: "forwards";
}
