@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.continue-icon {
  font-size: 20px;
  color: white;
}
.continue-reading small {
  padding: 7px;
  /* border-radius: 25px; */
  /* border-top-left-radius: 25px; */
  /* border-bottom-right-radius: 25px; */
  /* border-top-right-radius: 25px; */
}
.continue-reading * {
  text-decoration: none;
  color: white;
  font-weight: 400;
  transition: 0.2s linear;
}
.continue-reading:hover small {
  text-decoration: underline;
  font-size: 20px;
  /* color: black; */
  /* background-color: rgb(199, 199, 199) !important; */
}

.continue-reading:hover .continue-icon {
  font-size: 25px;
}

.newsArticleStyling {
  background-color: rgba(16, 41, 51, 1);
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: "forwards";
}
