.newbie-accordion {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.newbie-accordion-btn btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.btn-text {
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    color: white;
    font-size: 22px;
    /* font-weight: bold; */
}

.newbie-accordion-btn btn {
    color: white;
}

.newbie-accordion-btn btn {
    color: white;
}

.newbie-accordion-btn btn {
    color: white;
}

.continue-reading:active btn {
    color: white;
}

.newbie-card {
    padding:-22px;
    background-color: rgba(85, 39, 85, 0.568) !important;
    padding: 2px !important;
}

.main-jumbotron {
    background-color: rgb(104, 50, 104) !important;
    border-radius: 99px !important;
    color: white;
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding:2px !important;
}

.newbie-accordion {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: -22px;
}

.main-jumbotron h1 {
    font-size: 48px;
    color: white;

}

.muse-logo {
    border: white 2px solid;
    border-radius: 100%;
    display: block;
    width: 347px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.newbie-ul li{
    /* align-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding:-2px; */
    list-style-position: inside;
    float: left;
}
