.card-top-header {
  text-align: center;
  padding-bottom: 3.5px;
  padding-top: 2px;
}

.card-header-labels {
  font-size: 8px;
  font-weight: bold;
}

.card-header-user-input {
  font-size: 10px;
  margin-left: auto;
  text-align: center;
  font-style: italic;
}

.post-title-text {
  margin-top: -16px !important;
  font-size: 21.5px !important;
}
.post-quickBody-text {
  font-size: 13px;
}

.info-card-text {
  font-size: 12px;
  border-radius: 75% !important;
}

.info-card-title{
  font-size: 12px !important;
}

.info-card-body{
  font-size: 12px !important;
  border: purple 1px dotted;
  padding: 3px;
}

.table-text{
  font-size: 12px !important;
}

.card-contact-btn {
  padding: 255px;
  margin-right: 300px !important;
  /* margin-top: -3px; */
}

.contact-text{
  font-size: 11px;
}


/* ************************** */
/* CSS CARD ANIMATIONS */
.card-container {
  background-color: lightcoral;
  display: inline;
  /* padding: 65px;    */
  display: inline;
  perspective: 1700px;
  overflow: hidden;
  margin-bottom: 4px;
}

.under-card {
  position: absolute;
  width: 100%;
  height: 100%;
  /* left: 7px; */
  top: 500px; /* ! FIX MEASUREMENT (PX/REM) */
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}




@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}