.card-container{
}

.flip-card {
  
  background-color: transparent;
  width: 275px;
  height: 275px;
  perspective: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card .flip-card-inner:hover {
  transform: rotateY(0deg);
  
}


.flip-card-front,
.flip-card-back {
  
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.card-post-img {
  width: 100%;
}

.card-top-header{
  /* padding-top: -25px !important; */
}

.top-card-header{
  background-color: purple;
  color:white;
}

.card-header-small-labels{
  font-weight: bold;
  font-size: 10px;
}
.card-top-header-user-input{
  font-size: 10px;
}

.card-top-header-inputs{
  margin-top:-5px;
}
.card-post-title {
  font-size: 18px;
  color: purple;
}

.card-post-body {
  font-size: 14px;
}

.card-footer-details p {
  font-size: 10px;
}

.card-deck-group {
}

.card-btn{
  margin-top: -50px;
  margin-bottom: 8px;
}

.card-price-tag{
  display:inline;
  position:inherit;
  padding: 4px;
  left:-33.5px;
  top:-1px;
  background-color:purple;
  font-weight: bold;
  color:white;
  border-top: purple 2px dotted;
  border-right: purple 2px dotted;
  border-radius: 5px;
  
}



/* ********************************************************************************* */
/* BOOTSTRAP CARD CSS */
/* 
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(0deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.card-header-title{
  font-size: 10px;
  float: left;
}  */
