 .card-top-header {
   text-align: center;
   padding-bottom: 3.5px;
   padding-top: 1.5px;
 }

 .card-header-labels {
   font-size: 12px;
   font-weight: bold;
 }

 .card-header-user-input {
   font-size: 12px;
 }

 .post-title-text{
  font-size: 16px !important;

 }
 .post-quickBody-text{
   font-size: 13px;
 }






 /* css flip */

 .card-container {
  perspective: 700px;
  overflow: hidden;
}

.card-flip, .card-container {
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.under-card {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 498px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
 
}

/* .bottom-slider{
  display:none;
} */
.card-container .under-card {
  /* top: 0; */

}

 .card-flip {
   display: grid;
   grid-template: 1fr / 1fr;
   grid-template-areas: "frontAndBack";
   transform-style: preserve-3d;
   transition: all 0.7s ease;
 }

 .front {
   grid-area: frontAndBack;
 }

 .back {
   grid-area: frontAndBack;
   transform: rotateY(-180deg);
 }

 

 .card-container {
  display: grid;
  perspective: 700px;
}