.PostCounter-container {
    display: inline !important;
    margin-right: auto !important;
    margin-left: auto !important;
  
    text-align: center;
}

.PostCounter-jumbotron {
    margin-top: 24px !important;
    color: white;
    width: 75% !important;
    /* background-color: rgb(18, 83, 92) !important;  */
    background: #095566;
    background: -moz-linear-gradient(top, #095566 0%, #0C6F85 100%);
    background: -webkit-linear-gradient(top, #095566 0%, #0C6F85 100%);
    background: linear-gradient(to bottom, #095566 0%, #0C6F85 100%);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.PostCounter-body {
    padding: 1px;
}