/* .modal-footer .reportPost-btn{
    font-size: 6px !important;
    display:block;
    widows: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    align-content: center !important;
    text-align: center !important;
} */