.flip-card {
  background-color: transparent;
  width: 275px;
  height: 275px;
  perspective: 1000px;
  margin-right:auto;
  margin-left: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card .flip-card-inner {
    /* transform: rotateY(180deg); */
    transform: rotateY(0deg);
  }

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.card-post-img {
  width: 100%;
}

.card-header-username,
.card-header-date {
  font-size: 10px;
}
.card-post-title {
  font-size: 18px;
  color: purple;
}

.card-post-body {
  font-size: 14px;
}

.card-footer-details p {
  font-size: 10px;
}

.card-deck-group {
  /* margin: 4px; */
}

.card-info-btn {
  margin: 2px;
}
.card-contact-btn {
  margin: 2px;
}
