 body{
     background-color:rgba(5, 34, 34, 0.9);
     background-image: url("./components/bg/bg-pattern-f.png");
     background-size: auto;
     background-repeat: repeat-x;
     background-position: center;
     background-blend-mode: soft-light;
     
    }