body {
   background-image: url("./assets/imgs/background-textures/bg-pattern-c.png");
   /* background-image: url("./assets/imgs/background-textures/bg-pattern-c.png");
  background-color: rgb(0, 0, 0);
  background-blend-mode: screen; */
}
